body {
    padding: 50px;
    font-size: large;
    max-width: fit-content;
    height: fit-content;
    word-break: break-all;
}

.rotating-icon {
    display: inline-block;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes twist-up {
    to {
        transform: rotateX(360deg);
    }
}
